:root {
  --primary-light: #757ce8;
  --primary-main: #162788;
  --primary-dark: #002884;
  --primary-contrastText: #fff;

  --secondary-light: #ff7961;
  --secondary-main: #0d681c;
  --secondary-dark: #ba000d;
  --secondary-contrastText: #000;
}

body {
  font-family: "Roboto", "Helvetica", "Arial", sans-serif;
  color: var(--primary-contrastText);
  background-color: var(--primary-main);
}

.App {
  display: flex;
  flex-direction: column;
  min-height: 100vh;
}

.content {
  -moz-flex-grow: 1;
  -webkit-flex-grow: 1;
  -ms-flex-grow: 1;
  flex-grow: 1;
  overflow: auto;
  min-height: 600px;
  padding: 1em;
}
